access_group_name_developer_role = "Example-Developer-Role"

access_group_name_tester_role = "Example-Tester-Role"

access_group_name_operator_role = "Example-Operator-Role"

access_group_name_pipeline_role = "Example-Pipeline-Role"

iam_access_members_developers = []

iam_access_members_testers = []

iam_access_members_operators = []

iam_access_members_pipeline = []

resource_group_roles_developer = []

resource_group_roles_operator = []

resource_group_roles_tester = []

resource_group_roles_pipeline = []

platform_access_roles = []

monitoring_service_roles = []