environment_name = "development"

space_developers = [ ]

# Replace REGION below with us-south, us-east, eu-de, ...
# $ ibmcloud is regions

# vpc region
# $ ibmcloud is regions
# choose the Name of a region
region = "REGION"

# $ ibmcloud ks locations --provider vpc-gen2
# choose a Zone, like us-soputh-1, used in $datacenter below
cluster_datacenter = "REGION-1"

worker_num = 2

# Using the zone selected above in cluster_datacenter
# $ ibmcloud ks flavors --zone ZONE
# $ ibmcloud ks flavors --zone REGION-1
cluster_machine_type = "cx2.2x4"

# $ ibmcloud catalog service cloudantnosqldb
# Children Name is a Plan like: lite or standard
cloudantnosqldb_plan = "lite"
# location under the Children Location like: us-south
cloudantnosqldb_location = "REGION"

# $ ibmcloud catalog service cloud-object-storage
# Children Name is a Plan like: lite or standard
cloudobjectstorage_plan = "standard"
cloudobjectstorage_location = "global"

# $ ibmcloud catalog service logdna
# Children Name is a Plan like: lite, 7-day,14-day, 30-day
logdna_plan = "7-day"
# location under the Children Location like: us-south
logdna_location = "REGION"

# $ ibmcloud catalog service sysdig-monitor
# Children Name is a Plan like: lite, graduated-tier
sysdig_plan = "graduated-tier"
# location under the Children Location like: us-south
sysdig_location = "REGION"
