environment_name = "production"

space_developers = [ ]

# Find the locations with: ibmcloud cs locations
cluster_datacenter = ""

# Find the values for vlans with: ibmcloud cs vlans <datacenter>
cluster_public_vlan_id = ""

cluster_private_vlan_id = ""

worker_num = 3

# Find the available machine types with: ibmcloud cs machine-types <datacenter>
cluster_machine_type = "b2c.4x16"

# Other option is dedicated
cluster_hardware = "shared"

# Find the available resource group quotas with: ibmcloud resource quotas
resource_quota = "Trial Quota"

# Plan for Cloudant database: lite or standard
cloudantnosqldb_plan = "lite"

# Find the available locations with: ibmcloud catalog service cloudantnosqldb
cloudantnosqldb_location = ""

# Plan for Cloud Object Storage: lite or standard
cloudobjectstorage_plan = "lite"

# Find the available locations with: ibmcloud catalog service cloud-object-storage
cloudobjectstorage_location = "global"