environment_name = "production"

space_developers = [ ]

cluster_datacenter = ""

cluster_public_vlan_id = ""

cluster_private_vlan_id = ""

cluster_worker_num = 3

# Find available machine types with: bx cs machine-types <location>
cluster_machine_type = "b2c.4x16"
