environment_name = "testing"

space_developers = [ ]

# Find the locations with: ibmcloud cs locations
cluster_datacenter = ""

# Find the values for vlans with: ibmcloud cs vlans <datacenter>
cluster_public_vlan_id = ""

cluster_private_vlan_id = ""

worker_num = 3

# Find available machine types with: ibmcloud cs machine-types <datacenter>
cluster_machine_type = "u2c.2x4"

# Other option is dedicated
cluster_hardware = "shared"

# Plan for Cloudant database: lite or standard
cloudantnosqldb_plan = "lite"

# Find available locations with: ibmcloud catalog service cloudantnosqldb
cloudantnosqldb_location = ""

# Plan for Cloud Object Storage: lite or standard
cloudobjectstorage_plan = "lite"

# Find available locations with: ibmcloud catalog service cloud-object-storage
cloudobjectstorage_location = "global"

# Plan for LogDNA: lite, 7-day,14-day, 30-day
logdna_plan = "lite"

# Find available locations with: ibmcloud catalog service logdna
logdna_location = ""

# Plan for Sysdig-monitor: lite, graduated-tier
sysdig_plan = "lite"

# Find available locations with: ibmcloud catalog service sysdig-monitor
sysdig_location = ""