environment_name = "testing"

space_developers = [ ]

cluster_datacenter = ""

# Find the values for vlans with: ibmcloud cs vlans <datacenter>
cluster_public_vlan_id = ""

cluster_private_vlan_id = ""

cluster_worker_num = 3

# Find available machine types with: ibmcloud cs machine-types <datacenter>
cluster_machine_type = "u2c.2x4"

# Other option is dedicated
cluster_hardware = "shared"

# Find available resource group quotas with: ibmcloud resource quotas
resource_quota = ""