environment_name = "testing"

space_developers = [ ]

cluster_datacenter = ""

cluster_public_vlan_id = ""

cluster_private_vlan_id = ""

cluster_workers = [
  {
    name   = "worker-1"
    action = "add"
  },
  {
    name   = "worker-2"
    action = "add"
  },
  {
    name   = "worker-3"
    action = "add"
  },
]

# Find available machine types with: bx cs machine-types <location>
cluster_machine_type = "u2c.2x4"
